In [5]:
import pandas as pd
from jqdatasdk import *
import os
JQ_PHONE = os.getenv('JQ_PHONE')
JQ_PWD = os.getenv('JQ_PWD')

In [2]:
auth(JQ_PHONE, JQ_PWD)

auth success

In [3]:
# resample
# 转换周期：日K转换为周K
# 汇总统计：统计月成交量

In [8]:
index = pd.date_range('1/1/2000', periods=9, freq='T')
series = pd.Series(range(9), index=index)

In [9]:
series

2000-01-01 00:00:00    0
2000-01-01 00:01:00    1
2000-01-01 00:02:00    2
2000-01-01 00:03:00    3
2000-01-01 00:04:00    4
2000-01-01 00:05:00    5
2000-01-01 00:06:00    6
2000-01-01 00:07:00    7
2000-01-01 00:08:00    8
Freq: T, dtype: int64

In [16]:
series.resample(rule='2T').sum()

2000-01-01 00:00:00     1
2000-01-01 00:02:00     5
2000-01-01 00:04:00     9
2000-01-01 00:06:00    13
2000-01-01 00:08:00     8
Freq: 2T, dtype: int64

In [15]:
series.resample(rule='2T', closed='right').sum()

1999-12-31 23:58:00     0
2000-01-01 00:00:00     3
2000-01-01 00:02:00     7
2000-01-01 00:04:00    11
2000-01-01 00:06:00    15
Freq: 2T, dtype: int64

In [17]:
df = get_price('000001.XSHG', count=20, end_date='2023-02-14', frequency='daily', panel=False)

In [18]:
df

,open,close,high,low,volume,money
2023-01-11,3172.3800,3161.8400,3184.7600,3160.8900,2.377429e+10,3.092489e+11
2023-01-12,3167.2700,3163.4500,3171.5900,3153.4000,2.166713e+10,2.753718e+11
2023-01-13,3170.3500,3195.3100,3195.3100,3167.5100,2.202269e+10,2.880625e+11
2023-01-16,3198.5200,3227.5900,3251.3700,3197.3200,3.067495e+10,4.132196e+11
2023-01-17,3229.4400,3224.2400,3231.2600,3211.7600,2.265922e+10,3.026118e+11
2023-01-18,3227.5900,3224.4100,3234.8200,3220.3700,2.121097e+10,2.660682e+11
2023-01-19,3221.5200,3240.2800,3240.2800,3210.3800,2.264650e+10,2.968156e+11
2023-01-20,3247.2000,3264.8100,3267.0600,3247.2000,2.732192e+10,3.290282e+11
2023-01-30,3308.8700,3269.3200,3310.4900,3266.7600,3.533258e+10,4.531770e+11
2023-01-31,3266.1400,3255.6700,3277.2500,3252.0100,3.001630e+10,3.752607e+11
2023-02-01,3262.2000,3284.9200,3284.9200,3245.4100,3.395094e+10,4.133952e+11
2023-02-02,3291.7800,3285.6700,3295.7600,3272.4100,3.334131e+10,4.286628e+11
2023-02-03,3275.6600,3263.4100,3275.6600,3235.3500,2.933428e+10,3.786485e+11
2023-02-06,3244.7000,3238.7000,3250.3500,3226.2100,2.670531e+10,3.491273e+11
2023-02-07,3245.2300,3248.0900,3250.0300,3233.8300,2.509464e+10,3.212576e+11
2023-02-08,3251.5000,3232.1100,3257.1100,3230.4400,2.345305e+10,2.933327e+11
2023-02-09,3227.7300,3270.3800,3270.3800,3225.7700,2.547545e+10,3.517608e+11
2023-02-10,3266.4400,3260.6700,3269.9900,3247.2300,2.606269e+10,3.417499e+11
2023-02-13,3256.9900,3284.1600,3285.0900,3252.6300,2.972132e+10,3.970114e+11
2023-02-14,3288.9742,3293.2825,3293.7338,3279.1894,2.709742e+10,3.555581e+11